

* {/*padronizar a pag */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
   /* especificar parametros do site */
    background-image: linear-gradient(50deg,rgb(169, 250, 169) 45%, rgb(42, 109, 233) 80%);
   font-family: Georgia, 'Times New Roman', Times, serif;
   overflow-x: hidden;
   overflow-y: scroll;
}
  

nav{ /*cor altura e largura barra de navegaçao*/
    background: rgba(0, 0, 0, 0.87);
   height: 80px;
   width: 100%;
}
label.logo{/* logo barra nav */
    color: rgba(250, 250, 250, 0.945);
    font-size: 30px;
    line-height: 80px;
    padding: 0 9px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display:inline-block ;
    line-height: 80px;
    margin: 0px 1px;
}
nav ul li a{
    color: whitesmoke;
    font-size: 17px;
    padding: 7px 3px;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
a:hover, a:active{
    background: rgba(64, 224, 208, 0.788);
    transition: .2s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}
@media (max-width: 1120px){
    label.logo{
        font-size: 20px;
        padding-left: 10px;
        padding-inline: 30px;
    }
    nav ul li a{
        font-size: 9px;
    }
}
@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 10px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(22, 152, 156);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
font-size: 10px;
flex-wrap: nowrap;
    }
    a:hover, a.activo{
        background: salmon;
        color: rgb(160, 41, 144);
    }
    #check:checked ~ul{
        left:0;
    }
}

/* conteudo acima referente a barra de menu */

.nowrap{
    flex-wrap:nowrap
    
}


#Title{
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(38, 59, 59) ;
   align-items: flex-end;
   padding-top: 14px;
   font-weight: bold;
}
.img_capa{
    width: 98%;
    max-width: 100%;
    min-width: 5%;
    box-sizing: border-box;
    margin-left: 15px;
    
    margin-top: 1px;
    margin-right: 15px;
    border: 10px;
    border-radius: 0px;
    padding-bottom: 0px;
    padding-top: 70px;
    
 }

.flex-sobrejg{
    
    width: 100%;
    padding-inline-start: 20px;
    padding-right: 400px;
  
 }

 .sobrejg{
    
    color: rgb(56, 54, 54);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    margin: 5px 50px 80px 5%;
    border: 5px double rgb(100, 99, 99);
    
}
#mais{
    display: none
    /*leia mais */
}

/* inicio video */
.titleVideo{
    margin-top: -600px;
    position: relative;
    float: right;
    padding-right: 50px;
    color: rgb(56, 54, 54);
    border-radius: 20px;
    font-style: italic;

}

.videosims{
 
 display: flex;
padding-right:20px;
margin-top: -550px;
position: relative;
 float: right;
}

.linkviedo{
    padding-left: 20px;
}
/*fim video*/


/*carrosel parte de baixo*/
.mundo-title{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 5px;
    color: rgb(56, 54, 54);
    float: right;
    padding-right: 20px;
}

.content-all{
    display: flex;
    width: 100%;
    height: 50%;
    margin: auto;
    perspective: 2000px;
    position: relative;
    margin-top:50px;
}

.content-carrosel{
    width: 100%;
    height: 500px;
    position: absolute;
    animation: rotar 50s infinite linear;
    transform-style: preserve-3d;

}
.content-carrosel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrosel figure{
    width: 42%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 5px 12px 0px black;
    transition: all 300ms;
  
}
.content-carrosel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
    /* sombra do carrosel */
}


.content-carrosel figure:nth-child(1){transform: rotateY(360deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(2){transform: rotateY(324deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(3){transform: rotateY(288deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(4){transform: rotateY(252deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(5){transform: rotateY(216deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(6){transform: rotateY(180deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(7){transform: rotateY(144deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(8){transform: rotateY(108deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(9){transform: rotateY(72deg)
    translateZ(1000px);}
.content-carrosel figure:nth-child(10){transform: rotateY(36deg)
    translateZ(1000px);}            


.content-carrosel img{
    width: 100%;
    height: 100%;
}
.content-carrosel img:hover{
    transform: scale(1.5);
    transition: all 300ms ;
  /*da zom na imagem do carrosel */
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}/*fazer rodar */

/* fim carrosel */


/*inicio listas de mundos */
.content-mundo{
    background-color: beige;
    padding-top: 300px;
    margin-bottom: -300px;
}
label.mundo{
    color: green;
    padding-top: 20px;
    line-height: 80px;
    font-size: 40px;
    font-style: italic;
    text-align: justify;
    margin-left: 40px;
    margin-top: -400px;
    position: relative;
}

.link-mundo{
    color: darkslategray;
}
.lista-mundo1{
   line-height: 35px;
   margin-left: 100px;
   font-size: 20px;
   position: relative;
}
.lista-mundo2{
    line-height: 35px;
    margin-left: 500px;
    margin-top: -210px;
    font-size: 20px;
    position: relative;
    
}
.lista-mundo3{
    line-height: 35px;
    margin-left: 900px;
    margin-top: -214px;
    font-size: 20px;
    position: relative;
}
/* fim lista de mundo */

/* familias */

.container{
    
    align-items: center;
    align-content: center;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 300px;
    margin-bottom: 50px;
    justify-content: space-between;

}
.card{
    background: rgb(29, 138, 102);
    position: relative;
    left: 10%;
    width: 300px;
    height: 370px;
    margin-top: 200px;
    
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgb(0, 0, 0, 0.7);

}
.card .imgbox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.card .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: block;
    transition: 0.5s;
    
}
.card .content{/* parte rosa do card */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 12px;
    background: rgba(3, 70, 75, 0.87);
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-shadow: border-box;
    overflow: hidden;
    color: rgba(250, 250, 250, 0.767);
    font-family: monospace;
    font-style: normal;
    

}
.card:hover .content{/* dimenção da transição do card */
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;

}
.card:hover img{/* zoom na img do card */
    transform: scale(1.1);

}
.content p{/* espaçamento do texto do card */
    margin: 10px 0 0;
    pad: 1em 1em;
    transform: translateY(2em);
    line-height: 1.3em;
    transition: 0.3s;
    text-align: justify;
   opacity: 0;/* esconde texto qdo n tem interação */

}
.card:hover .content p{
    transform: translateY(0);
    opacity: 1;/* volta com texto ao interaigr com o card */
}
h4{
    text-align: center;
}
.card:hover{
    box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);/* sombra ao interagir com card */
}
/* final dos cards */

/* titulo do card */
.titleCard{
    padding-top: 100px;
    padding-bottom: -300px;
    margin-top: 300px;
    margin-bottom: -450px;
    font-size: 60px;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    color: seagreen;
     
}

/* rodapé */
